
@model IEnumerable<Interfaces.Models.AUser>
    
<script>
    function ShowUserDetals(i) {
        $('#detalsUser').load('@Url.Action("DetalsUser")', { idUser: i });
        
    }
</script>

@foreach (var item in Model)
{
        <div class="btn btn-block navbar-default" onclick="ShowUserDetals(@item.idUser)">
            
                <h3 style="margin: 5px;"><small> @item.ToString()</small></h3>
           
        </div>
}
  


@{
    int pNumber = ViewBag.pageNumber - 1;
    int nNumber = ViewBag.pageNumber + 1;
}

@if (ViewBag.pageCount > ViewBag.pageSize)
{

    <div class="text-center">

        <ul class="pagination">
            @if (pNumber < 1)
            {
                <li class="disabled">
                    <a>
                        &laquo;
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a onclick="ClickPageUser(@pNumber)">&laquo;</a>
                </li>
            }

            @for (int i = 1; (i - 1) * ViewBag.pageSize < ViewBag.pageCount; i++)
            {
                <li @if (ViewBag.pageNumber == i) {  @: class="active"
                    }><a onclick="ClickPageUser(@i)">@i</a></li>
            }

            @if ((nNumber - 1) * ViewBag.pageSize >= ViewBag.pageCount)
            {
                <li class="disabled">
                    <a>
                        &raquo;
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a onclick="ClickPageUser(@nNumber)">&raquo;</a>
                </li>
            }

        </ul>

    </div>

}
